<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Roll Dice Links</title>
    <style>

        a {
            color: white;
            text-underline: none;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<h1>Choose a number</h1>
<button class="button"><a href="/rolldice/1">1</a></button>
<button class="button"><a href="/rolldice/2">2</a></button>
<button class="button"><a href="/rolldice/3">3</a></button>
<button class="button"><a href="/rolldice/4">4</a></button>
<button class="button"><a href="/rolldice/5">5</a></button>
<button class="button"><a href="/rolldice/6">6</a></button>
</body>
</html>